@import 'tailwindcss';
@import 'fumadocs-ui/css/black.css';
@import 'fumadocs-ui/css/preset.css';

/* Эффекты для body */
body {
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 1200px;
    height: 800px;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, transparent 70%);
    border-radius: 9999px;
    filter: blur(80px);
    opacity: 0.2;
    pointer-events: none;
    z-index: 0;
    animation: pulseLight 4s ease-in-out infinite;
}

body::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    opacity: 0.015;
    pointer-events: none;
    z-index: 0;
}

@keyframes pulseLight {
    0%, 100% {
        transform: translate(-50%, 0) scale(1) translateX(-50%) translateY(-50%);
    }
    50% {
        transform: translate(-50%, -2px) scale(1.05) translateX(-50%) translateY(-50%);
    }
}